<%- include("templates/header") %> 
<h1>Hello friend</h1>
<button onclick="window.location.href='/signup'">Sign up</button>
<form action='/login' method='post'>
    <button>Login</button>
</form>
<%- include("templates/footer") %> 